---
import { YouTube } from "astro-embed";
import CallToAction from "../components/CallToAction.astro";
import Carousel from "../components/Carousel";
import Container from "../components/Container.astro";
import FAQs from "../components/FAQs.astro";
import Layout from "../layouts/Layout.astro";
import PageHero from "../components/PageHero.astro";
import SocialShare from "../components/SocialShare.astro";
import fetchApi from "../lib/strapi";
import type { WhoWeArePage } from "../interfaces/Pages";
import { whoWeAreQuery } from "../lib/queries";
import TwoColumns from "../components/TwoColumns.astro";
import dots from "../svgs/dots.svg";

import "../styles/testimonial-section.css";

const page = await fetchApi<WhoWeArePage>({
  endpoint: "who-we-are",
  query: whoWeAreQuery,
});
---

<Layout title="Who We Are">
  <main>
    <PageHero {...page.data.attributes.hero} />

    <Container isSection classes="mt-12">
      <div class="overflow-hidden">
        <div class="mx-auto px-6 lg:px-8">
          <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
          >
            <div class="lg:pr-8 lg:pt-4">
              <div class="lg:max-w-lg">
                <h2 class="text-2xl lg:text-3xl font-bold leading-7 text-dark">
                  {page.data.attributes.whatWeProvide.heading}
                </h2>
                <p class="mt-6 text-base lg:text-lg leading-8 text-gray-600">
                  {page.data.attributes.whatWeProvide.content}
                </p>
                <dl
                  class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
                >
                  {
                    page.data.attributes.whatWeProvide.iconList.map((item) => (
                      <div class="flex flex-wrap">
                        <img
                          class="h-8 w-8 lg:h-12 lg:w-12"
                          src={item.icon.data.attributes.url}
                          alt=""
                        />
                        <div class="font-semibold text-gray-900 ml-4">
                          {item.heading}
                        </div>
                        <div class="ml-12 lg:ml-16">{item.content}</div>
                      </div>
                    ))
                  }
                </dl>
              </div>
            </div>

            <!-- carousel goes here -->
            <div class="w-full">
              <Carousel
                client:only
                carousel={page.data.attributes.carousel}
                withHeading={false}
              />
            </div>
          </div>
        </div>
      </div>
    </Container>

    <div class="hidden md:visible h-[404px] w-[404px]">
      <img src={dots} alt="dots" />
    </div>

    <!-- testimonial -->
    {
      page.data.attributes.testimonial && (
        <TwoColumns classes="testimonial-section">
          <YouTube id={page.data.attributes.testimonial.video} />
          <div set:html={page.data.attributes.testimonial.content} />
        </TwoColumns>
      )
    }

    {
      page.data.attributes?.faqs && (
        <Container isSection>
          {/** @ts-ignore **/}
          <FAQs faqs={page.data.attributes.faqs} />
        </Container>
      )
    }

    <!-- social embed -->
    <Container isSection>
      <SocialShare />
    </Container>

    <!-- cta -->
    <CallToAction />
  </main>
</Layout>
