---
import type { Post } from "../interfaces/Posts";
import { getPostCategory } from "../utils";
import logoImage from "../images/logo.svg";

interface Props extends Post {}

const post = Astro.props;

const postDate = post.attributes?.eventDate ?? post.attributes.publishedAt;
---

<div
  id={post.id.toString()}
  class="overflow-hidden rounded-lg shadow-lg h-auto"
>
  <div class="flex-shrink-0">
    <a
      href={`/blog/${post.attributes.slug}`}
    ><img
      class="h-48 w-full object-cover"
      src={post.attributes.image.data?.attributes.url || logoImage}
      alt={post.attributes.image.data?.attributes.caption || "post image"}
    />
    </a>
  </div>
  <div class="flex flex-col bg-white p-6">
    <p class="text-sm font-medium text-teal mb-4">
      <a
        href={`/blog?category=${getPostCategory(post)}`}
        class="inline-flex items-center rounded-full px-3 py-0.5 font-medium bg-white text-teal text-xs py ml-auto border-2 shadow-darkBlue"
      >
        {getPostCategory(post)}
      </a>
    </p>
    <a
      href={`/blog/${post.attributes.slug}`}
      class="mt-2 block text-darkBlue overflow-hidden"
    >
      <p class="text-xl font-semibold text-darkBlue">
        {post.attributes.title}
      </p>
    </a>
  </div>
  <div class="mt-4 flex items-center ml-6 mb-6">
    <div class="flex space-x-1 text-sm text-gray-600">
      <time datetime={postDate}
        >{
          new Date(postDate).toLocaleDateString("en-US", {
            dateStyle: "long",
          })
        }</time
      >
    </div>
  </div>
</div>
