---
import type { IconListComponent } from "../interfaces/Components";

interface Props extends IconListComponent {}

const { heading, content, iconList } = Astro.props;
---

<div class="lg:pr-8 lg:pt-4">
  <div class="lg:max-w-lg">
    <h2 class="text-2xl lg:text-3xl font-bold leading-7 text-dark">
      {heading}
    </h2>
    <p class="mt-6 text-base lg:text-lg leading-8 text-gray-600">
      {content}
    </p>
    <dl
      class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
    >
      {
        iconList.map((item) => (
          <div class="flex flex-wrap">
            <img
              class="h-8 w-8 lg:h-12 lg:w-12"
              src={item.icon.data.attributes.url}
              alt=""
            />
            <div class="font-semibold text-gray-900 ml-4">{item.heading}</div>
            <div class="ml-12 lg:ml-16">{item.content}</div>
          </div>
        ))
      }
    </dl>
  </div>
</div>
