---
const { image, heading, content, url } = Astro.props;
---

<article class="flex flex-col items-start justify-between max-w-[384]">
  <div class="relative w-full rounded-xl shadow-lg pb-5">
    <img
      src={image.data.attributes.url}
      alt={image.data.attributes.caption}
      class="aspect-auto w-full rounded-t-xl bg-gray-100 object-cover border-b-2 border-green-500"
    />
    <div class="max-w-xl">
      <div class="group relative">
        <h3
          class="mt-3 px-4 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
        >
          <a href={url}>
            <span class="absolute inset-0"></span>
            {heading}
          </a>
        </h3>
        <p class="mt-3 px-4 line-clamp-3 text-sm leading-6 text-gray-600">
          {content}
        </p>
      </div>
      <div class="mt-5 px-4 flex items-center gap-x-4">
        <div class="text-sm leading-6">
          <p class="font-semibold uppercase text-xs text-green-500">
            <a href={url}>
              <span class="absolute inset-0"></span>
              Learn More &rightarrow;
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
