---
const { image, heading, content, url } = Astro.props;
---

<article class="flex flex-col items-start justify-between max-w-[384]">
  <div class="relative w-full rounded-xl shadow-lg pb-5">
    {
      image?.data?.attributes?.url && (
        <img
          src={image.data.attributes.url}
          alt={image.data.attributes.caption}
          class="aspect-auto w-full rounded-t-xl bg-gray-100 object-cover"
        />
      )
    }
    <div class="max-w-xl">
      <div class="group relative">
        <h3
          class="mt-6 px-4 text-xl font-semibold leading-6 text-darkBlue group-hover:text-green"
        >
          <a href={url}>
            <span class="absolute inset-0"></span>
            {heading}
          </a>
        </h3>
        <p class="mt-3 px-4 line-clamp-4 text-base leading-6 text-dark">
          {content}
        </p>
      </div>
      <div class="mt-5 px-4 flex items-center gap-x-4">
        <div class="text-sm leading-6">
          <p class="font-semibold uppercase text-sm text-teal">
            <a href={url}>
              <span class="absolute inset-0"></span>
              Learn More &rightarrow;
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
