---
import { CheckIcon } from "@heroicons/react/24/outline";
import type { StoreLocationComponent } from "../interfaces/Components";

interface Props {
  locations: StoreLocationComponent[];
}

const [firstLoc, secondLoc] = Astro.props.locations;
---

<div class="store-locations" id="store-locations">
  <h3
    class="text-center text-gray-900 text-3xl sm:text-4xl font-extrabold font-inter leading-10"
  >
    Store Locations
  </h3>

  <div class="isolate overflow-hidden bg-white">
    <div class="mx-auto max-w-7xl px-6 pb-60 text-center sm:pt-32 lg:px-8">
    </div>
    <div class="flow-root bg-white pb-24 sm:pb-32">
      <div class="-mt-80">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div
            class="mx-auto grid max-w-md grid-cols-1 gap-8 lg:max-w-4xl lg:grid-cols-2"
          >
            <div
              class="flex flex-col justify-between rounded-3xl bg-white p-8 shadow-xl ring-1 ring-gray-900/10 sm:p-10"
            >
              <img
                class="mb-4"
                src="/images/map-lafayette.jpg"
                alt="location 1"
              />
              <h3
                class="text-2xl mb-4 font-semibold leading-7 text-teal uppercase"
              >
                {firstLoc.title}
              </h3>
              <ul>
                <li>{firstLoc.street}</li>
                <li>{firstLoc.city}, {firstLoc.state} {firstLoc.zip}</li>
                <li>
                  <span class="text-gray-400"><a href="tel:17657421060">765-742-1060</a></span>
                </li>
              </ul>
              <a
                target="_blank"
                href={firstLoc.directionsLink}
                class="mt-8 block rounded-md bg-teal px-3.5 py-2 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-800"
                >Get Directions</a
              >

              <div class="border-t mt-8 pt-4 flex items-center">
                <CheckIcon className="w-5 h-5 mr-2 text-green inline" />
                Accepting Donations
              </div>
            </div>
            <div
              class="flex flex-col justify-between rounded-3xl bg-white p-8 shadow-xl ring-1 ring-gray-900/10 sm:p-10"
            >
              <img
                class="mb-4"
                src="/images/map-crawfordsville.jpg"
                alt="location 2"
              />
              <h3
                class="text-2xl mb-4 font-semibold leading-7 text-teal uppercase"
              >
                {secondLoc.title}
              </h3>
              <ul>
                <li>{secondLoc.street}</li>
                <li>{secondLoc.city}, {secondLoc.state} {secondLoc.zip}</li>
                <li>
                  <span class="text-gray-400"><a href="tel:17657421060">765-742-1060</a></span>
                </li>
              </ul>
              <a
                target="_blank"
                href={secondLoc.directionsLink}
                class="mt-8 block rounded-md bg-teal px-3.5 py-2 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-800"
                >Get Directions</a
              >
              <div class="border-t mt-8 pt-4 flex items-center">
                <CheckIcon className="w-5 h-5 mr-2 text-green inline" />
                Accepting Donations
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
